#div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: darkcyan;
}

h2{
    background-color: blue;
}
#img {
    width: 80%;
    height: 100%;
}

#href {
    background-color: cadetblue;
}